<!-- control_panel.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Control Panel</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Control Panel</h1>
        <div class="list-group">
            <a href="{% url 'add_employee' %}" class="list-group-item list-group-item-action">Add User</a>
            <a href="{% url 'add_employee_response' %}" class="list-group-item list-group-item-action">Add Response</a>
            <a href="{% url 'view_responses' %}" class="list-group-item list-group-item-action">View Responses (Date)</a>
            <a href="{% url 'send_emails_to_all' %}" class="list-group-item list-group-item-action">Send Emails</a>
            <a href="{% url 'view_responses_by_employee' %}" class="list-group-item list-group-item-action">View Responses (User)</a>
            <a href="{% url 'filter_responses' %}" class="list-group-item list-group-item-action">Filtered Responses</a>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

    </div>
</body>
</html>
